body {
    color: #7890a8;
    background: rgb(0, 0, 0);
    margin: 0px;
    font-family: "Bebas Neue", sans-serif;
}

header {
    border-bottom: #304878;
    padding: 20px;
    font-size: 32px;
    color: #f0a818;
}
.chamada {
    background: #181848;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}